<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptit.pthlong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pthlong">
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity
            android:name=".ViewItemActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".AddNewActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>